$m: '.m-canvas';

#{$m} {
  @media screen and (min-width: 700px) {
    width: 70%;
  }

  #{$m}__canvas {
    background: #fcfcfc;

    canvas {
      max-width: 100% !important;
    }
  }

  #{$m}__download a {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    padding-right: 10px;
    background: $theme-color;
    border: none;
    border-radius: 10px;
    color: #fff;
    @include transition (background-color ease-in-out 0.3s);
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: lighten($theme-color, 25);
    }
  }

  #{$m}__download-note {
    color: #777;
    font-size: 12px;
    font-style: italic;
  }
}
